In [1]:
from matplotlib import pyplot as plt
import seaborn as sns
import os
import numpy as np
import pandas as pd
from matplotlib.ticker import FuncFormatter
%matplotlib inline

In [2]:
names_dir = '/Users/hp/Downloads/namesbystate/'
names_data_list = []
names_columns = ['state', 'gender', 'year', 'name', 'babies']
for file in os.listdir(names_dir):
    if file.endswith('.TXT'):
        names_data = pd.read_csv(names_dir + file, header=None, names=names_columns)
        names_data_list.append(names_data)
    else:
        continue
names_data = pd.concat(names_data_list)

In [3]:
print(names_data)

      state gender  year      name  babies
0        AK      F  1910      Mary      14
1        AK      F  1910     Annie      12
2        AK      F  1910      Anna      10
3        AK      F  1910  Margaret       8
4        AK      F  1910     Helen       7
...     ...    ...   ...       ...     ...
28746    WY      M  2021  Santiago       5
28747    WY      M  2021   Spencer       5
28748    WY      M  2021      Tate       5
28749    WY      M  2021   Timothy       5
28750    WY      M  2021    Tucker       5

[6311504 rows x 5 columns]

In [4]:
data = names_data[names_data['year'] >= 1950]
data.head(2)

     state gender  year   name  babies
1269    AK      F  1950   Mary      71
1270    AK      F  1950  Linda      68

In [33]:
data.groupby(('gender'['babies']).sum() / data['babies'].sum())

<>:1: SyntaxWarning: str indices must be integers or slices, not str; perhaps you missed a comma?
<>:1: SyntaxWarning: str indices must be integers or slices, not str; perhaps you missed a comma?
C:\Users\hp\AppData\Local\Temp\ipykernel_6544\4073824900.py:1: SyntaxWarning: str indices must be integers or slices, not str; perhaps you missed a comma?
  data.groupby(('gender'['babies']).sum() / data['babies'].sum())
C:\Users\hp\AppData\Local\Temp\ipykernel_6544\4073824900.py:1: SyntaxWarning: str indices must be integers or slices, not str; perhaps you missed a comma?
  data.groupby(('gender'['babies']).sum() / data['babies'].sum())
C:\Users\hp\AppData\Local\Temp\ipykernel_6544\4073824900.py:1: SyntaxWarning: str indices must be integers or slices, not str; perhaps you missed a comma?
  data.groupby(('gender'['babies']).sum() / data['babies'].sum())
C:\Users\hp\AppData\Local\Temp\ipykernel_6544\4073824900.py:1: SyntaxWarning: str indices must be integers or slices, not str; perhaps you missed a comma?
  data.groupby(('gender'['babies']).sum() / data['babies'].sum())

TypeError: string indices must be integers

In [16]:
most_popular_names = (
    data
    .groupby(['name', 'gender'])
    .babies
    .sum()
    .reset_index()
    .sort_values('babies', ascending=False)

)

In [17]:
print(most_popular_names)

           name gender   babies
32346  Zyshonne      M        5
23761     Parke      M        5
6753     Curley      F        5
15648  Kamalani      M        5
3522     Aylana      F        5
...         ...    ...      ...
25319    Robert      M  2583575
14681      John      M  2755438
7440      David      M  2899746
13220     James      M  2902195
21483   Michael      M  3918662

[32347 rows x 3 columns]

In [39]:
unique_names_per_gender = (data.groupby(['year', 'gender']).name.nunique().unstack())
unique_names_per_gender.head()

gender     F     M
year
1950    2112  1721
1951    2173  1735
1952    2210  1763
1953    2269  1757
1954    2300  1755

In [42]:
unique_baby_names = (
    data
    .groupby(['name', 'gender'])
    .babies
    .sum()
    .reset_index()
    .sort_values('babies', ascending=True))

    
plt.xlabel('')
plt.legend([], frameon=False)
plt.ylabel('Unique Babies Names\n in The Dat Set', 
          position= (-0.7, 0.8),
           rotation=0,
           ha = 'left',
           labelpad = 120,
           fontsize = 14,
           color = 'red'
           style = 'italic'
                    )
plt.text(2022, 5200, 'Female', color='pink', fontsize=16, fontweight='bold')
plt.text(2022, 4200, 'Male', color='crimson', fontsize=16, fontweight='bold')
plt.text(2022, 5000, f'{female_percent*100:}% of babies',
        fontstyle='italic', color='red')
plt.text(2022, 4000, f'{male_percent*100:}%100:}% of babies', 
        fontstyle='italic', color='pink')

SyntaxError: invalid syntax. Perhaps you forgot a comma? (573517876.py, line 18)

In [ ]:
plt.plot(x,y)
plt.plot(x, z, color = "pink")

In [27]:
unique_names_per_gender.plot(figsize=(10,5), lw=3, color=['crimson', 'blue'])
sns.despine()
plt.xlabel('')
plt.legend([])

NameError: name 'unique_names_per_gender' is not defined

In [ ]:
plt.text