# Name: Saujanya Thapaliya

# SF Salaries Exercise 

Welcome to a quick exercise for you to practice your pandas skills! We will be using the [SF Salaries Dataset](https://www.kaggle.com/kaggle/sf-salaries) from Kaggle! Just follow along and complete the tasks outlined in bold below. The tasks will get harder and harder as you go along.

** Import pandas as pd.**

In [2]:
import pandas as pd

** Read Salaries.csv as a dataframe called sal.**

In [3]:
sal= pd.read_csv('Salaries.csv')
dtype={'user_id': int}

C:\Users\hp\AppData\Local\Temp\ipykernel_5640\1761297639.py:1: DtypeWarning: Columns (3,4,5,6,12) have mixed types. Specify dtype option on import or set low_memory=False.
  sal= pd.read_csv('Salaries.csv')

** Check the head of the DataFrame. **

In [4]:
sal.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.0,56120.71,198306.9,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6,9737.0,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

** Use the .info() method to find out how many entries there are.**

In [5]:
sal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148049 non-null  object
 4   OvertimePay       148654 non-null  object
 5   OtherPay          148654 non-null  object
 6   Benefits          112495 non-null  object
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            38119 non-null   object
dtypes: float64(3), int64(2), object(8)
memory usage: 14.7+ MB

**What is the average BasePay ?**

In [9]:
sal = sal[sal['BasePay'] != 'Not Provided']
average_BasePay = sal['BasePay'].mean()
average_BasePay

TypeError: unsupported operand type(s) for +: 'float' and 'str'

** What is the highest amount of OvertimePay in the dataset ? **

In [6]:
sal['OvertimePay'] = sal['OvertimePay'].astype(float)
highest_overtime = sal['OvertimePay'].max()
highest_overtime

245131.88

** What is the job title of  JOSEPH DRISCOLL ? Note: Use all caps, otherwise you may get an answer that doesn't match up (there is also a lowercase Joseph Driscoll). **

In [27]:
#getting information of joseph driscoll
info_of_JOSEPH_DRISCOLL= sal.loc[sal['EmployeeName'] == 'JOSEPH DRISCOLL']
#extracting the job title
info_of_JOSEPH_DRISCOLL['JobTitle']

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

** How much does JOSEPH DRISCOLL make (including benefits)? **

In [8]:
info_of_JOSEPH_DRISCOLL['TotalPayBenefits']

24    270324.91
Name: TotalPayBenefits, dtype: float64

** What is the name of highest paid person (including benefits)?**

In [28]:
highest_TotalPay = sal[sal['TotalPayBenefits'] == sal['TotalPayBenefits'].max()]['EmployeeName']
highest_TotalPay

0    NATHANIEL FORD
Name: EmployeeName, dtype: object

** What is the name of lowest paid person (including benefits)? Do you notice something strange about how much he or she is paid?**

In [10]:
lowest_TotalPay = sal[sal['TotalPayBenefits']==sal['TotalPayBenefits'].min()]
lowest_TotalPay

#Yes, the person is paid in negative, which technically means that Joe owes his employer money for working for them.

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.0,0.0,-618.13,0.00,-618.13,-618.13,2014,NaN,San Francisco,PT

** What was the average (mean) BasePay of all employees per year? (2011-2014) ? **

In [10]:
groupby_yearly_BasePay = sal.groupby("Year")['BasePay'].mean()
groupby_yearly_BasePay

TypeError: unsupported operand type(s) for +: 'float' and 'str'

** How many unique job titles are there? **

In [12]:
sal['JobTitle'].nunique()

2158

** What are the top 5 most common jobs? **

In [36]:
sal['JobTitle'].value_counts()[:5].head()

Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: JobTitle, dtype: int64

** How many Job Titles were represented by only one person in 2013? (e.g. Job Titles with only one occurence in 2013?) **

In [37]:
JobTitles_in_2013 = sal[sal['Year']==2013]
sort_JobTitles_category=JobTitles_in_2013['JobTitle'].value_counts()
unique_job= sort_JobTitles_category[sort_JobTitles_category==1].count()
unique_job

202

** How many people have the word Chief in their job title? (This is pretty tricky) **

In [15]:
chief_in_job=0
for job_title in sal['JobTitle'].values:
    if 'Chief' in job_title:
        chief_in_job += 1
print(chief_in_job)

423

** Bonus: Is there a correlation between length of the Job Title string and Salary? **

In [16]:
sal['JobTitle']  = sal['JobTitle'].str.len()
correlation_df = sal[['JobTitle','TotalPayBenefits']]

correlation_df.corr()

                  JobTitle  TotalPayBenefits
JobTitle           1.00000          -0.03692
TotalPayBenefits  -0.03692           1.00000

# Great Job!